@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.blue {
  color: rgba(0, 58, 143, 1) !important;
}

/*

NAVBAR

*/

.navbar {
  height: 100px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  background: rgb(0, 128, 152);
  background: linear-gradient(
    121deg,
    rgba(0, 128, 152, 1) 0%,
    rgba(0, 58, 143, 1) 100%
  );
  opacity: 0.9;
}

.navbar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__links {
  display: flex;
  width: 100%;
  max-width: 430px;
  align-items: center;
  justify-content: space-between;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  right: 0;
  bottom: -3px;
  transition: all 300ms ease;
}

.link__hover-effect--black:after {
  background-color: white;
}

.link__hover-effect:hover::after {
  left: 0;
  width: 100%;
}

.navbar__button {
  color: #6030b1;
  border-radius: 50px;
  background-color: white;
  padding: 12px 40px;
  transition: all 300ms ease;
}

.navbar__button:hover {
  background-color: #ff328f;
  color: white;
}

.navbar__logo {
  width: 150px;
  height: 40px;
  opacity: 1;
}

.navbar__logo--img {
  width: 100%;
  height: 100%;
  opacity: 1;
}

/*

LANDING PAGE

*/

#landing-page {
  padding: 10px 20px 0 20px;
}

.landing__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100vw;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.landing__title {
  font-size: 50px;
  max-width: 730px;
  font-weight: 600;
  line-height: 1.25;
  margin: 30px 0;
}

.landing__input--wrapper {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.landing__input--search {
  width: 100%;
  background-color: white;
  border-radius: 50px;
  border: 2px solid #0a1f44;
  color: #0a1f44;
  height: 100%;
  line-height: 40px;
  outline: none;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 24px;
  padding-left: 25px;
}

.landing__input--search:hover {
  border-color: rgba(0, 58, 143, 1);
}

.landing__input--button {
  position: absolute;
  right: 12px;
  width: 60px;
  height: 60px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 40px;
  color: rgba(0, 58, 143, 1);
  border-radius: 20px;
  transition: all 300ms ease;
}

.landing__input--button:hover {
  color: #ff328f;
}

#search-film {
  width: 100%;
  height: 100%;
}

/* Small phones*/

@media (max-width: 760px) {
  .navbar__links {
    display: flex;
    justify-content: flex-end;
  }

  .navbar__link {
    display: none;
  }

  .navbar__button {
    display: flex;
    border-radius: 25px;
    padding: 6px 20px;
  }

  .navbar__logo {
    width: 100px;
    height: auto;
  }

  .landing__title {
    font-size: 38px;
  }

  .landing__input--wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing__input--search {
    height: 60px;
  }
}

@media (max-width: 630px) {
  .landing__img {
    display: none;
  }
}
